@import 'fonts.css';

:root{
    --main-color : #FFF7D8;
    --accent-color-1: #9CAE7F;
    --accent-color-1-hover:#d0d696;
    --accent-color-2: #F0C07D;
    --body-text-color: #1B0000;
    --shadow-harsh: rgba(77, 10, 10, 0.795);
    --shadow-soft:  rgba(34, 12, 12, 0.466);
    --drop-shadow: 5px 5px 4px var(--shadow-soft);
}

svg{
    color: #1B0000;
    fill: #1B0000;
}

body {
    color: var(--body-text-color);

    background-color: var(--main-color);
    background-image: url(Assets/BG.png);
    background-repeat: repeat;
    background-position: center;

    background-size: 265px ;
    margin: 0;
}

main {
    padding-block-start: 2rem;
    padding-inline: min(2rem,10%);
}

section{
    margin-block-end: 1rem;
}

.container{
    display: flexbox;
    background-color: var(--accent-color-2);
    padding: 5px 15px;
    box-shadow: 4px 4px 3px var(--shadow-harsh);
    size: 1rem;
}

/* ------------------ Navigation Classes ------------------ */

.navbar{
    --nav-height: max(5rem,1vw);
    background-color: var(--accent-color-1);
    background-image: url(Assets/HUD.png);
    background-repeat: repeat-x;

    height: var(--nav-height);
    position: sticky;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .5rem;

    box-shadow: 0px 5px 3px var(--shadow-soft);

    transition: top .1s ease-out;
    z-index: 5;
}

/* -------- Nav Buttons & Dropdowns -------- */
.nav-links{
    list-style: none;
    display: flex;
}

.nav-links a{
    padding-inline: 1rem;
    padding-block: 1.25rem;
    display: inline-block;

    padding: auto;
    text-decoration: none;
    color: inherit;

}
.nav-hover:hover{
    background-color: var(--accent-color-1-hover);
    box-shadow: var(--drop-shadow);
}

.nav-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: aqua;
    box-shadow: var(--drop-shadow);
    
    left: anchor(var(--anchor-name) start);
    top: anchor(var(--anchor-name) bottom);
    right: anchor(var(--anchor-name) end);

    z-index: -1;
}

.nav-dropdown ul{
    padding: 0px;
    list-style: none;
    align-items: center;
}


/* -------- Hamburger Menu -------- */

.top-line{
    transform-origin: translate(10px 100px);
}

.dropdown{
    background-color: transparent;
    border-color: transparent;
}
.dropdown line{
    stroke: var(--body-text-color);
    stroke-width: 10px;
    stroke-linecap: round;
}

.dropdown.list{
    position:fixed;
    inset-block-start: 5rem;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin: 0px;
    padding: 10px;
    background-color: #b97979;
    width: 100%;

    display: none;

}

/* -------- Fancy Logo -------- */
.home{
    text-decoration: none;
    display: flex;
    align-content: center;
    
    color:inherit;
    font-size: 3rem;
}
#logo{
    --card-width: 2rem;
    width: var(--card-width);
    height: calc(var(--card-width) * 3.5/2.5);
    line-height: 0;
    rotate: 15deg;
    transition: all 0.5s;
    transform-style: preserve-3d;
    padding-inline: 1rem;
}

.home:hover #logo{
    transform: rotateY(180deg);
}

#logo-front,
#logo-back{
    width: var(--card-width);
    backface-visibility: hidden;
}

#logo-back{
    
    position: relative;
    transform: rotateY(180deg);
    bottom:100%
}

/* ------------------ Resolution Size Differences ------------------ */

.small-screen{
    display: none
}
@media screen and (max-width: 375px) {
    .small-screen{
        display: flex;
    }
    .nav-small{
        display: none;
    }
}

/* ------------------ Info Cards ------------------ */
.project-card{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        'image info'
        'header info';
    column-gap: 1rem;

    background-color: var(--accent-color-2);
    padding: 1rem;
    box-shadow: 6px 6px 3px var(--shadow-harsh);
    size: 1rem;
}
.project-card > h1{
    grid-area: header;
    margin: 0;
}
.project-card a img{
    grid-area: image;
    width: 90%;
}
.project-card a{
    grid-area: image;
    
    
}
.project-card > p{
    grid-area: info;
}