@import 'fonts.css';
@import 'cursor.css';

:root{
    --main-color : #FFF7D8;
    --accent-color-1: #9CAE7F;
    --accent-color-2: #F0C07D;
    --body-text-color: #1B0000;
    --shadow: rgba(0,0,0,0.5);
}

svg{
    color: #1B0000;
    fill: #1B0000;
}
body {
    color: var(--body-text-color);
    background-color: var(--main-color);
    margin: 0;
}

main {
    padding: .5rem;
}

section{
    margin-block-end: 1rem;
}

.container{
    display: flexbox;
    background-color: var(--accent-color-2);
    padding: 5px 15px;
    box-shadow: 4px 4px var(--shadow);
    size: 1rem;
}

.navbar{
    --nav-height: 10%;

    background-color: var(--accent-color-1);
    padding: 5px min(1em,10%);
    height: var(--nav-height);

    position: sticky;
    top: 0;
    
    display:  flex;
    align-items: center;
    justify-content: space-between;

    transition: top .1s ease-out;
}

.navbar.hidden{
    top: -20%;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    text-decoration: none;
    color: inherit;
}

.dropdown{
    background-color: transparent;
    border-color: transparent;
}
.dropdown line{
    stroke: var(--body-text-color);
    stroke-width: 10px;
    stroke-linecap: round;
}

.top-line{
    transform-origin: translate(10px 100px);
}