@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900');

.navbar{
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 450;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: auto;
}

h1{
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}